:root{
    --primaryColor:#C6494C;
    --secondaryColor:#B3C6B9;
    --tertiaryColor:#F2E9DC;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: #444;
    background-color: #f9f9f9;
    padding: 0;
}

a{
    color: var(--primaryColor) !important;
}

/*  Background
*************************************************/
.wuzzy-brown{
    background-color: var(--primaryColor);
}
.shamrock{
    background-color: var(--secondaryColor);
}
.merino{
    background-color: var(--tertiaryColor);
}

/*  Header
*************************************************/
header{
    background-color: #fff;
}
.nav-link{
    color: var(--primaryColor) !important;
    font-weight: 600;
}

/*  Pricing
*************************************************/
#pricing .card{
    border: 1px solid var(--tertiaryColor);
}
#pricing .card-header{
    background-color: var(--tertiaryColor);
    color: var(--primaryColor);
    border-bottom: none;
}