:root{
    --primaryColor:#C6494C;
    --secondaryColor:#30C5A4;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: #444;
    background-color: #f9f9f9;
    padding: 0;
}